<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar">
        <activity
            android:name=".ui.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GameOverActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RoomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.MenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LauncherActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
